#back{
	font-size: 12px;
	color:black;
}

#back a{
    color:black;
    font-family: sans-serif;

}

html{
	position: relative;
}
body{
	background: #fff
	margin:0;
	padding:0;
	font-family: sans-serif;
}

header{
	padding:10vw 17vw 2.5vw;
	max-width: 1510px;
}


li{
	font-size: 12px;
    text-transform: uppercase;
    line-height: 1.5em;

}

#big{
	font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    letter-spacing: -0.015em
    line-height:1.3em;
}

header >p {
	white-space: pre-wrap;
}

.underline{
	position: relative;
	white-space: nowrap;
	color: grey;
}
.underline:after{
	content: "";
	position: absolute;
	bottom:0.1em;
	right: 0;
	left:0;
	height: 2px;
	background: #D5D5D5;
	z-index: -1;
}
section{
	padding:2vw 17vw 5vw;
	max-width: 1510px;

}
a{
	border:0;
	text-decoration: none;
	-webkit-transition:opacity: 0.4s;
	-o-transition:opacity: 0.4s;
	transition: opacity 0.4s;
	color:black;
}
a:hover{
	color: #111;
	text-decoration: ne-resize;
	opacity:0.7;
}
.small a{
	position: relative;
	white-space: nowrap;
	color:black;
}
.small a:after{
	content: "";
	position: absolute;
	bottom: 0.1em;
	right: 0;
	left: 0;
	height: 1px;
	background: #111;
	z-index: -1;

}

footer{
	text-transform: uppercase;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction:row;
	flex-direction: row;
	line-height: 1.5em;
}

ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow: hidden;
}



.h-list{
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	padding-left: 0;
    float: left;

}

.h-list li{
	margin-left: 0;
	margin-right: 1vw;
	color: black;
}

.v-list{
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	color:black;

}
.no-margins{
	margin:0 0 0 0;
}
